{{>header}}
<p class="about-paragraph">I am a Physics/Mathematics teacher turned software engineer.</p>

<p class="about-paragraph">My interest in how technology is helping to shape our world, has always been something of
  interest to me and it's one of
  my drive to study Physics science.</p>

<p class="about-paragraph">I started learning to program using resources from Udemy. Built some apps and then joined
  Decagon as an intern where I
  am moving on to become an intermediate.</p>

<p class="about-paragraph">I write C, Python, and Javascript...however, I give much preference to all things Javascript
  and as my current challenge
  would demand. Every tool has its scope.</p>
<img class="portrait" src="/img/waheed-afolabi.png" alt="Waheed Afolabi" />

</section>
{{>footer}}