{{>header}}
<p>Use this site to get your weather!</p>
<form>
  <input class="search-input" type="text" placeholder="Location" />
  <button class="btn">Search</button>
</form>
<p id="msg-one"></p>
<p id="msg-two"></p>
</section>
{{>footer}}