* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  margin: 10px 0;
}

h1 {
  font-size: 48px;
  margin: 20px 0;
}

.portrait {
  width: 250px;
  margin: 5px;
}

p {
  margin: 10px 0;
  font-size: large;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

header a {
  color: #888;
  margin-right: 16px;
  text-decoration: none;
}

.about-paragraph {
  line-height: 24px;
  font-size: large;
}

.main-content {
  flex-grow: 1;
}

.search-input {
  padding: 11px 8px;
  font-size: large;
  outline: none;
  background-color: rgb(185, 185, 185);
  border: none;
  border-radius: 5px;
  margin: 10px 0;
}

.btn {
  border: none;
  padding: 11px;
  border-radius: 5px;
  background-color: #333;
  color: aliceblue;
  font-size: large;
  transition: all 0.5s ease-out;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(32, 32, 32);
}

footer {
  color: #888;
  border-top: 1px solid #eee;
  margin-top: 16px;
  padding: 16px 0;
}
